In [10]:
import pandas as pd
import re

In [3]:
df = pd.read_csv("../data/PAWP/PAWP_raw.csv")
print(df.shape)
df.head()

(500, 3)

,question,paraphrase,label
0,Melissa buys 2 packs of tennis balls for $12 i...,Melissa spends $12 on packs of tennis balls. T...,0.0
1,A triangle has the following side lengths: 4 c...,"The side lengths of a triangle are 4 cm, 5 cm,...",1.0
2,Kelly had $24. She spent 5/6 of her money on a...,Kelly had $24 with her. She spent some of it o...,0.0
3,The Book Nook sold 27 computer books last week...,"Last week, the Book Nook sold 27 computer book...",1.0
4,"The hobby store normally sells 10,576 trading ...","Every month, the hobby shop sells a lot of tra...",0.0

In [5]:
df.isnull().sum()

question        0
paraphrase     99
label         100
dtype: int64

In [6]:
df.dropna(inplace=True)
print(df.shape)
df.head()

(400, 3)

,question,paraphrase,label
0,Melissa buys 2 packs of tennis balls for $12 i...,Melissa spends $12 on packs of tennis balls. T...,0.0
1,A triangle has the following side lengths: 4 c...,"The side lengths of a triangle are 4 cm, 5 cm,...",1.0
2,Kelly had $24. She spent 5/6 of her money on a...,Kelly had $24 with her. She spent some of it o...,0.0
3,The Book Nook sold 27 computer books last week...,"Last week, the Book Nook sold 27 computer book...",1.0
4,"The hobby store normally sells 10,576 trading ...","Every month, the hobby shop sells a lot of tra...",0.0

In [7]:
df["label"] = df["label"].apply(lambda x: int(x))
df["label"].value_counts()

0    201
1    199
Name: label, dtype: int64

In [8]:
df = df.sample(frac=1).reset_index(drop=True)
df.head()

,question,paraphrase,label
0,Mrs. Novella ordered 5 books from the Children...,Mrs. Novella ordered some books from the Child...,0
1,Zachary has 135 marbles. He gave 27 marbles to...,Zachary has many marbles. He gave some marbles...,0
2,Dale caught 35 fireflies. She let some escape....,Dale caught 35 fireflies. If some of the firef...,0
3,52 children and 29 adults went to the track me...,\t\t\r\n52 children and adults went to the tr...,0
4,Mrs. Chin baked 58 cookies for her son's class...,Mrs. Chin baked some cookies for her son's cla...,0

In [9]:
df.tail()

,question,paraphrase,label
395,Mr. Winston sold 654 ice cream cones last week...,"Last weekend, Mr. Winston sold 654 ice cream c...",1
396,Angelo is the local marble champion. He has 20...,Angelo is the reigning marble champion in the ...,0
397,Kelly had $24. She spent 5/6 of her money on a...,Kelly had $24 with her. She spent some of it o...,0
398,Ricky has a magic money box. Every day the box...,\t\t\r\nRicky has a magic money box. Every da...,0
399,Anne had 65 cents. She found 25 cents on the s...,Anne had 65 cents. She discovered 25 cents on ...,1

In [11]:
def process_text(text):
    text = re.sub("\s+", " ", text).strip()
    return text

In [12]:
df["question"] = df["question"].apply(process_text)
df["paraphrase"] = df["paraphrase"].apply(process_text)
df.tail()

,question,paraphrase,label
395,Mr. Winston sold 654 ice cream cones last week...,"Last weekend, Mr. Winston sold 654 ice cream c...",1
396,Angelo is the local marble champion. He has 20...,Angelo is the reigning marble champion in the ...,0
397,Kelly had $24. She spent 5/6 of her money on a...,Kelly had $24 with her. She spent some of it o...,0
398,Ricky has a magic money box. Every day the box...,Ricky has a magic money box. Every day the box...,0
399,Anne had 65 cents. She found 25 cents on the s...,Anne had 65 cents. She discovered 25 cents on ...,1

In [13]:
df.to_csv("../data/PAWP/PAWP.csv", index=False)