In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('../data/AQUA/aqua_train.csv')

In [3]:
df = df.sample(4000).reset_index(drop=True)

In [4]:
df.shape

(4000, 11)

In [5]:
df.head()

,question,positive1,positive2,positive3,positive4,neg_1,neg_2,neg_3,neg_4,neg_5,neg_6
0,workers decided to raise Rs.3 lacs by equal co...,Workers decided to increase Rs.3 lacs by equal...,workers decided to raise Rs.3 lacs by equal co...,Workers decided to raise Rs.three lacs by equa...,workers decided to raise Rs.3 lacs by equal co...,decided to raise Rs.3 lacs by equal contribut...,workers decided to raise Rs.3 lacs by equal co...,workers decided to raise Rs.3 vartan by equal ...,workers decided to raise Rs. lacs by equal con...,How many people were they? They decided to rai...,workers decided to raise Rs.3 lacs by equal co...
1,Three candidates contested an election and rec...,Three candidates stood for election and receiv...,Three candidates contested an election and rec...,Three candidates contested an election and rec...,NaN,Three candidates contested an and received 113...,Three candidates contested an election and rec...,Three candidates contested an election and rec...,candidates contested an election and received ...,What percentage of the total votes did the win...,Three candidates contested an election and rec...
2,The number obtained by interchanging the two d...,The number obtained by swapping the two digits...,The number obtained by interchanging the two d...,The number obtained by interchanging the two d...,NaN,The obtained by interchanging the two digits o...,The number obtained by interchanging the two d...,The laboratory obtained by interchanging the t...,The number obtained by interchanging the 2 dig...,The perfactly obtained by interchanging the tw...,The defense obtained by interchanging the two ...
3,Johnny makes $3.25 per hour at his work. If he...,Johnny earns $3.25 an hour at work.If he works...,Johnny makes $3.25 per hour at his work. If he...,Johnny makes $three.twenty-five per hour at hi...,Johnny makes $ 3.25 per hour at his work. If h...,Johnny makes $3.25 per hour at his . If he s 8...,Johnny makes $3.25 per hour at his work.,Jaipal makes $3.25 per hour at his work. If he...,Johnny makes $ . 25 per hour at his work. If h...,How much money will Johnny make if he works 8 ...,Johnny makes â‚¹ 3.25 per hour at his work. If h...
4,The product of all the prime numbers less than...,The product of all prime numbers under 25 come...,The product of all the prime numbers less than...,The product of all the prime numbers less than...,NaN,The product of all the than 25 is closest to w...,The product of all the prime numbers less than...,The product of all the prime numbers less than...,The product of all the prime numbers less than...,Which of the following powers is closest to th...,The product of all the prime numbers less than...

In [7]:
df.to_csv("../data/AQUA/aqua_4k.csv", index=False)

In [9]:
df_val = df.sample(400).reset_index(drop=True)
df_val.head()

,question,positive1,positive2,positive3,positive4,neg_1,neg_2,neg_3,neg_4,neg_5,neg_6
0,Jadeja rented a power tool from a rental shop....,Jadeja has rented a power tool from a rental c...,Jadeja rented a power tool from a rental shop....,Jadeja rented a power tool from a rental shop....,Jadeja rented a power tool from a rental shop....,Jadeja rented a from a rental shop. The rent f...,Jadeja rented a power tool from a rental shop....,rented a power tool from a rental shop. The re...,Jadeja rented a power tool from a rental shop....,Jadeja rented a power simran from a rental sho...,Jadeja rented a power tool from a rental shop....
1,A dishonest dealer uses a scale of 85 cm inste...,A dishonest trader uses a scale of 85cm instea...,A dishonest dealer uses a scale of 85 cm inste...,A dishonest dealer uses a scale of eighty-five...,A dishonest dealer uses a scale of 85 centimet...,A dishonest dealer uses a of 85 cm instead of ...,A dishonest dealer uses a scale of 85 cm inste...,A dishonest dealer uses a asequence of 85 cm i...,A dishonest dealer uses a scale of cm instead ...,An unscrupulous person claims to sell at a cos...,A dishonest dealer uses a scale of 85 km inste...
2,Two airplanes fly the same exact route from At...,Two planes are flying the same route from Atla...,Two airplanes fly the same exact route from At...,Two airplanes fly the same exact route from At...,Two airplanes fly the same exact route from At...,Two airplanes fly the same exact route from At...,Two airplanes fly the same exact route from At...,Two airplanes fly the same exact route from Au...,2 airplanes fly the same exact route from Atla...,Two airmeasuress fly the same exact route from...,Two airplanes fly the same exact route from At...
3,An outlet pipe can empty 2/3 rd of a cistern i...,Drain pipe can drain 2 / 3 of a tank in 12 min...,An outlet pipe can empty 2/3 rd of a cistern i...,An outlet pipe can empty two/three rd of a cis...,NaN,An outlet pipe can empty 2/3 rd of a in 12 min...,An outlet pipe can empty 2/3 rd of a cistern i...,An outlet pipe can empty 2/3 rd of a aram in 1...,An outlet pipe can empty 2/ rd of a cistern in...,An outlet pipe can empty 2/3 rd of a drawn in ...,An outlet pipe can empty 2/3 rd of a cistern i...
4,"If k is a positive integer, which of the follo...","If k is a positive integer, which of the follo...","If k is a positive integer, which of the follo...","If k is a positive integer, which of the follo...",NaN,"If k is a , which of the following must be div...","If k is a positive integer, which of the follo...","If k is a positive integer, which of the follo...","If k is a positive integer, which of the follo...",The following must be divisible by 27 if k is ...,"If k is a positive integer, which of the follo..."

In [10]:
df_val.to_csv("../data/AQUA/aqua_400.csv", index=False)